<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/style.css" rel="stylesheet">
        
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6bd7GwzcTqRGqSjo447lMTPG"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js"></script>
        <script src="/js/routeSetting.js"></script>
        <script src="/js/routeSearch.js"></script>
        
        <title>Lollipop Map</title>
    </head>
    <body>
        
        <div id="allmap"></div>
        
        <div id="toolbar" class="text-center">
            <div style="float: left; padding-left: 10px">
                <span id="location" style="cursor:pointer" >定位</span>
                <span id="showParking" style="cursor:pointer; display:none" >显示终点停车场</span>
            </div>
            
            <span id="routeSetting" style="cursor:pointer" >路线</span>
            
            <div style="float: right; padding-right: 10px">
                <span id="endRouting" style="cursor:pointer; display: none;" >结束</span>
            </div>
        </div>
        
        <!--------------------------------setting window----------------------------------------->
        <div id="settingWindow" style="display:none">
            <div class="form-group ">
                <input type="text" id="start" placeholder="起始" ></input>
                <div id="searchResultPanel_start" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
            </div>
            <div class="form-group ">
                <input type="text" id="end" placeholder="终点" ></input>
                <div id="searchResultPanel_end" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
            </div>
             
            <div class="form-group ">
                <input type="checkbox" id="midStop" onchange="enableAddMidPoint(this)" disabled> <span style="color:grey">中途停靠</span></input>
            </div>
            
            <div id="midPointContainer"></div>
            <div class="form-group ">
                <div id="addMidPointBtn" class="add_16" ></div>
            </div>
            
            <div class="form-group ">
                <input type="checkbox" id="excludeHighway" > <span>避开高速</span></input>
            </div>
            
            <button type="button" id="searchBtn" class="btn btn-success btn-sm" style="width:80px" >查找</button>
            <button type="button" id="closeSettingBtn" class="btn btn-default btn-sm" style="width:80px">返回</button>

        </div>
        <!-----------------------------end---of---setting window--------------------------------->
        
        <script type="text/javascript">
            // 百度地图API功能
            var map = new BMap.Map("allmap");
            var point = new BMap.Point(121.48789,31.24916);
            map.centerAndZoom(point,13);
            map.addControl(new BMap.NavigationControl());
            map.addControl(new BMap.GeolocationControl());
            addTrafficControl(map);
            locateCurrentPosition(map);
            
            function init(){
                $("#routeSetting").bind("click", openSetting);
                $("#endRouting").bind("click", endCurrentRouting);
                $("#showParking").bind("click", searchForParking);
                
                $("#addMidPointBtn").bind("click", addMidPoint);
                
                $("#searchBtn").bind("click", searchRoute);
 
                $("#closeSettingBtn").bind("click", closeSetting);
                
                $("#midPointContainer").bind("click", removeMidPoint);
                
                setAutoComplete('start', 'searchResultPanel_start');
                setAutoComplete('end', 'searchResultPanel_end');
            }
            
            init();
            
        </script>
    </body>
</html>
