<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        
        <link href="/stylesheets/style.css" rel="stylesheet">
        
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6bd7GwzcTqRGqSjo447lMTPG"></script>
        <title>浏览器定位</title>
    </head>
    <body>
        
        <div id="allmap"></div>
        
        <div id="toolbar">
            <span style="padding: 10px"><a href="/?ddd=eee">设置</a><span>
        </div>
        
        <script type="text/javascript">
            // 百度地图API功能
            var map = new BMap.Map("allmap");
            var point = new BMap.Point(121.48789,31.24916);
            map.centerAndZoom(point,13);
            map.addControl(new BMap.NavigationControl());
            
            map.clearOverlays();
            var start = "世纪公园";
            var end = "人民广场";
            var routePolicy = [BMAP_DRIVING_POLICY_LEAST_TIME,BMAP_DRIVING_POLICY_LEAST_DISTANCE,BMAP_DRIVING_POLICY_AVOID_HIGHWAYS];
            
            search(start,end,routePolicy[0]);
             
            function search(start,end,route){ 
                var driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, autoViewport: true}});
                driving.search(start,end);
            }
            
        </script>
    </body>
</html>
