
body, html,#allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;
    font-family:"微软雅黑";
    color: #00648D;
}  

#toolbar {
    position:absolute; 
    bottom:0; width:100%; 
    height:35px; 
    background:#ffffff; 
    border-top:1px solid;
}

#settingWindow {
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background:-moz-linear-gradient(top, #411428, #c45a70, #fcdebc);
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#411428), color-stop(0.5,#c45a70), to(#fcdebc));   
    padding: 25px;
    color:#ffffff;
}

  
#settingWindow input[type="text"] {
   width:100%;
  }
  
  
  
/*--------icon---------*/
.add_16 {
   background-image: url("../images/add_16.png");
   height: 16px;
   width: 16px;
   display: inline-block;
  }